@font-face{
    font-family: 'Barlow';
    src: url("./font/barlow/Barlow-Regular.ttf");
}
@font-face {
    font-family: 'Fraunces';
    src: url('./font/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

h1{
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
    font-size: 48px;
}
h2{
    font-family: 'Fraunces';
    color: hsl(167, 40%, 24%);
    font-size: 32px;
    font-weight: 900;
}
h3{
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
    font-size: 22px;
}
p{
    font-family: 'Barlow';
    color: hsl(213, 9%, 39%);
    font-size: 18px;

}

body{
    margin: 0;
}

#header{
    height: 100vh;
}
#bglaranja{
    width: 100%;
    height: 100%;
    z-index: -1;

    position:absolute;
}
/* ------------------------- CABECALHO--------------------------- */
#cabecalho{
    /* border: 1px solid red; */
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo{
    padding-left: 30px;
}

#opcoes{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100% ;

    gap: 10px;
    font-family: 'Barlow';
    font-weight: 600;
    color: white;

    padding: 0px;
    padding-right: 40px;

}
#opcoes > a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100pt;
    height: 60%;

    border-radius: 100px;
}
#opcoes a:hover{
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
    font-family: 'Fraunces';
}

#title{
    /* border: 1px solid green; */
    height: 90%;
    margin-top: 30px;

    display: flex;
    flex-direction:column;
    align-items: center;
}
#title > h1{
    color: white;
    font-size: 90px;
}
#seta{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* ----------------------GRID------------------------------ */
#grid{
    display: grid;
    grid-template-areas: 
        "0i i0 i0 i0"
        "i1 i1 i2 i2"
        "i3 i3 i4 i4"
        "i5 i5 i6 i6"
        "i7 i7 i7 i7"
        "i8 i9 i10 i11"
    ;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    max-width: 100%;

    /* border: 1px solid red; */
}
.g0{
    grid-area: i0;
    /* border: 1px solid red; */
}
/*--------------G1--------------*/
.g1{
    grid-area: i1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textog1{
    width: 60%;

}
#learng1{
    position: relative;
    display:flex;
    flex-direction: column;
    width:fit-content;
    /* border: 1px solid rgb(0, 26, 255); */
}
#learng1 h3{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
#learng1 div{
    display: none;

    position: absolute;
    background-color: rgb(250, 212, 0);
    border-radius: 100px;

    height: 10px;
    width: 100%;
    bottom: 0px;
    z-index: -1;
}
#learng1:hover > div{
    display: flex;
}
#learng1:hover{
    cursor: pointer;
}


.g2{
    grid-area: i2;
}
.g3{
    grid-area: i3;
}


/*------------G4-------------*/
.g4{
    grid-area: i4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textog4{
    display: flex;
    flex-direction: column;
    width: 70%;

}
#learng4{
    position: relative;
    display:flex;
    flex-direction: column;
    width:fit-content;
    /* border: 1px solid rgb(0, 26, 255); */
}
#learng4 h3{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
#learng4 div{
    display: none;

    position: absolute;
    background-color: rgb(254, 120, 103);
    border-radius: 100px;

    height: 10px;
    width: 100%;
    bottom: 0px;
    z-index: -1;
}
#learng4:hover > div{
    display: flex;
}
#learng4:hover{
    cursor: pointer;
}

/*------------G5-------------*/
.g5{
    grid-area: i5;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}
#bgcereja{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#textog5{
    position: absolute;
    width: 50%;
    top: 60%;

    text-align: center;
}
#textog5 > p{
    color: hsl(167, 40%, 24%);
    font-weight: 900;
}

.g6{
    grid-area: i6;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}
#bgtangerina{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#textog6{
    position: absolute;
    width: 50%;
    top: 60%;

    text-align: center;
}
#textog6 > p,
#textog6 > h2{
    color: hsl(198, 62%, 26%);
    font-weight: 900;
}
/* ----------------------testimonials--------------------- */
.g7{
    grid-area: i7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
#client{
    width: 100%;
    text-align: center;
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(210, 4%, 67%);
    letter-spacing: 10px;
}
#testimonials{
    display: flex;
    gap: 30px;
    width: 80%;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    line-height: 30px;
}
.testimonials > img{
    border-radius: 100%;
    width: 75px;
    margin-bottom: 60px;
}
.testimonials > p{
    font-weight: 900;
    margin-top: 10px;
}
.testimonials > h3{
    margin-bottom: 0px;
    margin-top: 50px;
}
.testimonials > p:last-of-type {
    color: hsl(210, 4%, 67%);
    font-size: 16px;
    margin-top: 0px;
}
/* ------------------imagens decorativas ------------*/
.g8{
    grid-area: i8;
}
.g9{
    grid-area: i9;
}
.g10{
    grid-area: i10;
}
.g11{
    grid-area: i11;
}
/* ----------------------footer------------------------------ */
footer{
    background-color: rgb(146, 209, 193);
    color: hsl(168, 34%, 41%);
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer > img{
    height: 10%;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    width: 30%;
}
footer li{
    width: 100px;

}
footer li p{
    color: hsl(167, 40%, 24%);
}
#footerimgs{
    display: flex;
    gap: 30px;
}
.attribution{
    background-color: rgb(146, 209, 193);
    bottom: 0%;
    display: flex;
    justify-content: center;

    width: 100%;
}